<html>
  <head>
    <title>User | <%= usergame.username %></title>
  </head>
  <body>
    <div>
      <h1><%= usergame.username %></h1>
      <p><%= usergame.password %></p>
    </div>
  </body>
</html>
